<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--  COMMERCE SERVER CONFIGURATION SECTION HANDLERS
            These configuration sections are required for the Commerce Server .NET Application
            Framework to function properly.  They must be registered using the strong name for the
            assemblies.
        -->
    <sectionGroup name="CommerceServer">
      <section name="application" type="CommerceServer.Core.Runtime.Configuration.CommerceApplicationSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <section name="authentication" type="CommerceServer.Core.Runtime.Configuration.CommerceAuthenticationSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <section name="caches" type="CommerceServer.Core.Runtime.Configuration.CommerceCacheSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <section name="messageManager" type="CommerceServer.Core.Runtime.Configuration.CommerceMessageManagerSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <section name="catalog" type="CommerceServer.Core.Runtime.Configuration.CommerceCatalogSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <section name="profiles" type="CommerceServer.Core.Runtime.Configuration.CommerceProfilesSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <section name="contentSelection" type="CommerceServer.Core.Runtime.Configuration.CommerceContentSelectionSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <section name="commerceEvent" type="CommerceServer.Core.Runtime.Configuration.EventLoggerConfigurationHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <section name="expressions" type="CommerceServer.Core.Runtime.Configuration.CommerceExpressionSectionHandler, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <!-- 
        Commerce Server Admin database connection strings.
        The connection string to the Commerce Server administration database (i.e. MSCS_Admin) is configured here.
      -->
      <add name="ADMINDBPS" connectionString="PlaceholderForCommerceServerAdminConnectionString" providerName="System.Data.SqlClient" />  
  </connectionStrings>
  <!--  COMMERCE SERVER CONFIGURATION SECTION
        This signifies the beginning of the configuration of the Commerce Server .NET
        Application Framework.
    -->
  <CommerceServer>
    <!--  APPLICATION
            Set the siteName to be the name of the site as it has been registered in the Administration
            database.  The Site Packager will update this attribute automatically when unpacking
            a site.  Set debugLevel to "Checked", "Debug", or "Production".  Because the "Checked" and
            "Debug" settings cause the application to run slower than normal, you should only use these
            values when debugging the application.
        -->
    <application siteName="PlaceholderForCommerceServerSiteName" debugLevel="Production" />
    <!--  AUTHENTICATION
            Set detectCookies to true if you wish to enable a cookie to URL-mode fallback authentication scheme.
        -->
    <authentication detectCookies="true" />
    <!-- Sample Catalog section 
        CatalogSets information can be specified using the catalogSets element
		The defaultAuthenticated attribute is used to specify the default catalogSet for authenticated users.This attribute is optional.
		If not specified the catalogSet 'Registered User Default CatalogSet' will be used.
		The defaultAnonymous attribute is used to specify the default catalogSet for anonymous users.
		If not specified the catalogSet 'Anonymous User Default CatalogSet' will be used.
		
		The joinTable information can be specified using the joinTable element.All attributes are required.
		The targetTableName attribute is used to specify the name of the external table.
		The targetJoinKey attribute is used to specify the name of the column in the target table.
		The sourceJoinKey attribute is used to specify the name of the column in the catalog system table.
		The joinType attribute is used to specify the type of join. The valid values are InnerJoin, OuterJoinFull, OuterJoinLeft, OuterJoinRight and NoJoin.
		
		Caching in the catalog system can be implemented using the cache element.
        The cache element is optional and if not present caching is disabled.
        The enable attribute is an optional boolean attribute with a default value of false. Setting it to true will cache varios datasets
        in the catalog system. The time interval for each of these dataset types is controlled by the corresponding timeout attribute.
        If caching is enabled but the timeOut attribute is missing then the dataset will be cached for 5 minutes on the server.
        The schemaTimeout attribute is used to control the time for which the datasets pertaining to the catalog schema will be cached. The timeout value should be
        specified in minutes.
        The itemInformationCacheTimeout attribute is used to control the time for which the Item.Information datasets will be cached. The timeout value should be
        specified in minutes.
        The itemHierarchyCacheTimeout attribute is used to control the time for which the parent and child hierarchy information datasets will be cached. The timeout value should be
        specified in minutes.
        The itemRelationshipsCacheTimeout attribute is used to control the time for which the product and category relationships datasets will be cached. The timeout value should be
        specified in minutes.
        The itemAssociationsCacheTimeout attribute is used to control the time for which the inventory product catalog associations datasets will be cached. The timeout value should be
        specified in minutes.
        The catalogCollectionCacheTimeout attribute is used to control the time for which the catalogs, catalog sets and inventory catalogs collection datasets will be cached. The timeout value should be
        specified in minutes. 
        The number of kilobytes available to the cache can be controlled by the EffectivePrivateBytesLimit attribute available in the cache element defined by ASP.NET.
        <catalog>
			<catalogSets defaultAuthenticated="defalutAuthenticated catalogset" 
						 defaultAnonymous="defaultAnonymous catalogset">
			</catalogSets>
			<joinTable 
				targetTableName="Target TableName" 
				targetJoinKey="targetJoinKey" 
				sourceJoinKey="sourceJoinKey" 
				joinType="InnerJoin">
			</joinTable> 
			<cache
                    enable="true" 
                    schemaTimeout="10" 
                    itemInformationCacheTimeout ="10" 
                    itemHierarchyCacheTimeout ="10" 
                    itemRelationshipsCacheTimeout = "10" 
                    itemAssociationsCacheTimeout="10" 
                    catalogCollectionCacheTimeout="10"
            />
        </catalog>
        -->
    <!-- EXPRESSIONS schema='Auto|Marketing|Profiles'
            The schema attribute controls which version of database schema the CommerceExpressionModule uses when
            creating its ExpressionEvaluator instance.  The valid values for the 'schema' attribute are:
            'Auto', 'Marketing', or 'Profiles'.  The 'Marketing' value implies that the expressions are
            loaded from the new Marketing System database schema (mktg_expression table) in which expressions
            are tightly integrated with Campaigns.  In this case, the expressions are loaded from the database
            referenced in the Campaigns site resource.  The 'Profiles' value is for compatibility purposes and
            causes expressions to be loaded from the CS02 compatible schema (ES_ExprInfo table) in the
            Profiles (also known as 'Biz Data Store') site database.  In 'Auto' mode (the default), the system
            will check for the existence of the mktg_expression table in the Campaigns site database.  If that
            table exists and the configured Campaigns connection string is a valid SQLOLEDB connection string, then
            Marketing mode is used, otherwise Profiles mode is used.
        -->
    <expressions schema="Auto" />
    <!-- CACHES
            Configure the caches you wish to use in your application
        -->
    <caches>
      <!--  CACHE CONFIGURATION
            Set the name of the cache to whatever string you wish to use when referencing the cache.
            Note that certain caches must have specific names when using the default Advertising,
            Discounting, ShippingMethodRouter and PaymentMethodRouter pipeline components.  
						These names are Advertising, Discount, ShippingManagerCache and PaymentMethodCache 
            respectively.  The refreshInterval should be set to a time value (in seconds) that 
						determines how long the cache remains in memory before being refreshed.
            The retryInterval should be set to a time value (in seconds) that determines how long the
            Cache Manager waits before attempting to call the cache loader in the event of a failure
            when calling the cache loader.  Set maxSize to be the maximum number of entries to
            store in the cache.

            Sample cache configuration sections have been provided below.
            -->
      <cache name="Advertising" type="Advertising" refreshInterval="900" retryInterval="30" />
      <cache name="Discounts" type="Discounts" refreshInterval="0" retryInterval="30" />
      <cache name="ShippingManagerCache" type="Shipping" loaderProgId="Commerce.ShippingMethodCache" refreshInterval="0" retryInterval="30" />
      <cache name="PaymentMethodCache" type="Payment" />
      <cache name="OrdersConfigurationCache" type="OrdersConfiguration" />
    </caches>
    <!--  MESSAGE MANAGER
        Configure the resources to extract from satellite assemblies into the MessageManager
        used by components in the Order Processing Pipelines.-->
    <messageManager>
      <!--  CULTURES
                Set the default attribute to be the RFC 1766 identifier of the default culture used
                by the application.  The baseName attribute specifies the root name of the resources
                used in your application.  For example, when using a satellite assembly named
                "MyResources.en-US.resources", the root name is "MyResources."  The assembly attribute
                is used to specify the name of the assembly containing the default resources - either
                the executing application or the name of a satellite assembly.-->
      <cultures default="en-US" baseName="CommerceMessageManager" assembly="CommerceMessageManager">
        <!-- CULTURE Set the id to be the RFC 1766 identifier of each culture used by the application. -->
        <culture id="en-US" />
        <culture id="fr-fr" />
        <culture id="ja-JP" />
        <culture id="de-DE" />
      </cultures>
      <!-- RESOURCES
                This configures the individual resource names to be extracted from each satellite
                assembly and placed in the MessageManager.  Set the id to the resource identifier for
                each resource you wish to use.-->
      <resources>
        <resource id="pur_badsku" />
        <resource id="pur_badplacedprice" />
        <resource id="pur_discount_changed" />
        <resource id="pur_discount_removed" />
        <resource id="pur_noitems" />
        <resource id="pur_badshipping" />
        <resource id="pur_badhandling" />
        <resource id="pur_badtax" />
        <resource id="pur_badcc" />
        <resource id="pur_badpayment" />
        <resource id="pur_badverify" />
        <resource id="pur_out_of_stock" />
        <resource id="unknown_shipping_method" />
      </resources>
    </messageManager>
    <!-- PROFILES
                This configures the runtime to recognize two specific profiles, the Organization and
                User profiles, in order to make the CommerceContext class aware of any changes made
                to the default settings of these profiles.  It is used to determine where the
                CommerceContext.GetCatalogsForUser() method looks for Catalog Sets associated with
                the current user.  It is also used by the CommerceContext.UserProfile property
                to determine how to load user profiles on demand. These configuration settings are
                only required if you make changes to the default UserObject or Organization profiles.
        -->
    <!-- NEW ATTRIBUTES
                The last 3 attributes of the userProfile node are new for this version of Commerce Server.
                The keys are all optional; if no value is specified, the values shown below are used as defaults.
                userIdSource can have two values: ASP.NET or UPM (case insensitive). any other value will 
                cause a ConfigurationErrorsException to be thrown.
                These new keys come into play when the CommerceContext.Current.UserID property is queried 
                for the first time.	If ASP.NET is specified, the CommerceContext.Current.UserID key will 
                be populated by looking up the profile specified in the profileDefinition attribute 
                (UserObject by default). The lookup is done by searching for a profile object whose userIdKey 
                property is equal to HttpContext.Current.User.Identity.Name. The result of the search is 
                stored in CommerceContext.Current.UserProfile. The profile search is done only if the 
                CommerceContext.Current.UserProfile object is null. If this property is not null, it's contents 
                are used to get the user ID. After getting the user profile, the userIdTarget key of 
                the profile is looked up to determine the value of UserID.
                The CommerceContext.Current.UserID property can return null if the profile search 
                returns null or if the userIdTarget key does not exist.		
            -->
    <!--
        <profiles>
            <userProfile
                profileDefinition="UserObject"
                userIdProperty="GeneralInfo.email_address"
                organizationIdProperty="AccountInfo.org_id"
                catalogSetIdProperty="AccountInfo.user_catalog_set"
                
                userIdSource = "ASP.NET" 
                userIdKey = "GeneralInfo.email_address"
                userIdTarget = "GeneralInfo.user_id"
            />
            <organizationProfile
                profileDefintion="Organization"
                organizationIdProperty="GeneralInfo.org_id"
                catalogSetIdProperty="GeneralInfo.org_catalog_set"
            />
      <encryption>
        <keys keyIndex="1">
          <add type="publicKey" value="" />
          <add type="privateKey1" value="" />
          <add type="privateKey2" value="" />
        </keys>
      </encryption>
        </profiles>
        -->
    <!-- 
			The Content Selection section is used to configure the Commerce Server runtime for Targeting. 
			Both advertisements and Discounts can be targeted. 
			For each of these, the corresponding caches ('cacheName' attribute) and pipelines 
			('selectionPipeline' and 'eventPipeline' attributes) should be configured correctly in the correponding 
			sections ('caches' and 'pipelines') of the web.config. Also note that the redirectUrl attribute if configured
			should be a valid relative url in the site. For more details please consult the Commerce Server Documentation 
			related to the 'contentSelection' tag of the web.config.
		-->
    <!-- CONTENTSELECTION 
		<contentSelection>
			<add name="Advertising" cacheName="Advertising" selectionPipeline="advertising" eventPipeline="recordevent" redirectUrl="./redir.aspx"/>
			<add name="Discounts" cacheName="Discounts" selectionPipeline="discounts" eventPipeline="recordevent" redirectUrl="./redir.aspx" preloadCache="true"/>
		</contentSelection>
		-->
    <!-- COMMERCEEVENT
             This configures the Commerce Events that will be available for logging data to the IIS 
             web server log.  The default events supported are AddItemToBasket, RemoveItemFromBasket,
             and SubmitOrder.
        -->
    <commerceEvent>
      <add className="CommerceServer.Core.Runtime.AddItemToBasketEvent" id="AddItemToBasket" />
      <add className="CommerceServer.Core.Runtime.RemoveItemFromBasketEvent" id="RemoveItemFromBasket" />
      <add className="CommerceServer.Core.Runtime.SubmitOrderEvent" id="SubmitOrder" loggingEnabled="true" />
    </commerceEvent>
  </CommerceServer>
  <system.web>
    <httpModules>
      <!--  COMMERCE SERVER HTTP MODULES
            These configuration sections are required for the Commerce Server .NET Application
            Framework to function properly.  They must be registered using the strong name for the
            assemblies.
        -->
      <add name="RegFreeComHelperModule" type="CommerceServer.Core.Runtime.RegFreeComHelperModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />      <add name="CommerceApplication" type="CommerceServer.Core.Runtime.CommerceApplicationModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" preCondition="managedHandler" />
      <add name="CommerceApplication" type="CommerceServer.Core.Runtime.CommerceApplicationModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <!--<add name="CommerceOrder" type="CommerceServer.Core.Runtime.Orders.CommerceOrderModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />-->
      <add name="CommerceCatalog" type="CommerceServer.Core.Runtime.Catalog.CommerceCatalogModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <add name="CommerceProfile" type="CommerceServer.Core.Runtime.Profiles.CommerceProfileModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      <!--<add name="CommerceExpressionEvaluator" type="CommerceServer.Core.Runtime.Targeting.CommerceExpressionModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />-->
      <!--<add name="CommerceCache" type="CommerceServer.Core.Runtime.Caching.CommerceCacheModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />-->
      <!--<add name="CommerceContentSelection" type="CommerceServer.Core.Runtime.Targeting.CommerceContentSelectionModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />-->
    </httpModules>
    <httpHandlers>
      <add verb="*" path="SiteCacheRefresh.axd" type="CommerceServer.Core.Runtime.SiteCacheRefresh, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a " />
    </httpHandlers>
    <!--  DYNAMIC DEBUG COMPILATION
            Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
            false will improve runtime performance of this application. 
            Set compilation debug="true" to insert debugging symbols (.pdb information)
            into the compiled page. Because this creates a larger file that executes
            more slowly, you should set this value to true only when debugging and to
            false at all other times. For more information, refer to the documentation about
            debugging ASP .NET files.
        -->
    <compilation defaultLanguage="c#" debug="false">
      <assemblies>
        <add assembly="CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
            Set mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. Add
            <error> tags for each of the errors you want to handle.
        -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
            This section sets the authentication policies of the application. Possible modes are "Windows", "Forms", 
            "Passport" and "None"
        -->
    <authentication mode="Windows" />
    <!--  APPLICATION-LEVEL TRACE LOGGING
            Application-level tracing enables trace log output for every page within an application. 
            Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
            trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
            application trace log by browsing the "trace.axd" page from your web application
            root. 
        -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
            By default ASP.NET uses cookies to identify which requests belong to a particular session. 
            If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
            To disable cookies, set sessionState cookieless="true".
        -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
            This section sets the globalization settings of the application. 
        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />

  </system.web>

  <system.webServer>
    <modules>
      <!--<add name="RegFreeComHelperModule" type="CommerceServer.Core.Runtime.RegFreeComHelperModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" />      -->
<add name="CommerceApplication" type="CommerceServer.Core.Runtime.CommerceApplicationModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" preCondition="managedHandler" />
      <!--<add name="CommerceOrder" type="CommerceServer.Core.Runtime.Orders.CommerceOrderModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" preCondition="managedHandler" />-->
      <add name="CommerceCatalog" type="CommerceServer.Core.Runtime.Catalog.CommerceCatalogModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" preCondition="managedHandler" />
      <add name="CommerceProfile" type="CommerceServer.Core.Runtime.Profiles.CommerceProfileModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" preCondition="managedHandler" />
      <!--<add name="CommerceExpressionEvaluator" type="CommerceServer.Core.Runtime.Targeting.CommerceExpressionModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" preCondition="managedHandler" />-->
      <!--<add name="CommerceCache" type="CommerceServer.Core.Runtime.Caching.CommerceCacheModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" preCondition="managedHandler" />-->
      <!--<add name="CommerceContentSelection" type="CommerceServer.Core.Runtime.Targeting.CommerceContentSelectionModule, CommerceServer.Core.Runtime, Version=10.0.0.0, Culture=neutral, PublicKeyToken=f5c79cb11734af7a" preCondition="managedHandler" />-->
    </modules>

    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Sitecore.Commerce.Engine.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>