<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--US 
    <add key="VTX_Seller_AddressLine1" value="3880 N Mission Rd"/>
    <add key="VTX_Seller_AddressLine2" value=""/>
    <add key="VTX_Seller_City" value="Los Angeles"/>
    <add key="VTX_Seller_RegionCode" value="CA"/>
    <add key="VTX_Seller_CountryCode" value="US"/>
    <add key="VTX_Seller_PostalCode" value="90031"/>
    <add key="VTX_Seller_Company" value="448120"/>
    <add key="VTX_Customer_ClassCode" value="2002"/>
    <add key="VTX_CurrencyCode" value="USD"/>
    <add key="VTX_Country" value="US"/>
    -->
    <!--CA -->
    <add key="VTX_Seller_AddressLine1" value="2450 Hogan Drive"/>
    <add key="VTX_Seller_AddressLine2" value=""/>
    <add key="VTX_Seller_City" value="Mississauga"/>
    <add key="VTX_Seller_RegionCode" value="ON"/>
    <add key="VTX_Seller_CountryCode" value="CA"/>
    <add key="VTX_Seller_PostalCode" value="L5N0G4"/>
    <add key="VTX_Seller_Company" value="448120"/>
    <add key="VTX_Customer_ClassCode" value="2002"/>
    <add key="VTX_CurrencyCode" value="CAD"/>
    <add key="VTX_Country" value="CA"/>
  </appSettings>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="CalculateTax60SoapBinding" closeTimeout="00:01:00"
                          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                          useDefaultWebProxy="true">
                          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                          <security mode="None">
                                <transport clientCredentialType="None" proxyCredentialType="None"
                                      realm="" />
                                <message clientCredentialType="UserName" algorithmSuite="Default" />
                          </security>
                    </binding>
              </basicHttpBinding>
        </bindings>
        <client>
          <!-- 
              TEST : http://10.110.30.170:8095/vertex-ws/services/CalculateTax60
              LIVE : http://10.204.5.194:8080/vertex-ws/services/CalculateTax60
            -->
          <endpoint address="http://10.110.30.170:8095/vertex-ws/services/CalculateTax60"
                    binding="basicHttpBinding" bindingConfiguration="CalculateTax60SoapBinding"
                    contract="VertexO.CalculateTaxWS60" name="CalculateTax60" />
        </client>
    </system.serviceModel>
</configuration>